<div class="p-r">
  <script src="/js/script.js"></script>
  <script>if(bmed != null){document.write(directm);}else if(bdro != null){document.write(directd);}else if(bgoo != null){document.write(directg);}else if(barc != null){document.write(directa);}else if(bkus != null){document.write(directk);}else if(arc != null){document.write(kstream);}else if(med != null){document.write(k2stream);}else if(kur != null){document.write(k3stream);}else{null};</script>
  <img loading="lazy" class="of-c d-b img" id="plyr" src="{{ .Params.image }}" alt="{{ .Title }}"/>
</div>

<div class="bc-1 p-5 o-h d-g gg-5">
  <div class="d-g gg-10 gtc-mi ai-c">
    <div class="to-e o-h d-g">
      <h2 class="fs-15 o-h c-3 to-e d-2le">
        {{ range $key, $value := $.Params.genre }}<a href="/genre/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub (len $.Params.genre) 1) }}, {{ else }}.{{ end }}{{ end }}
      </h2>
      <h2 class="fs-15 c-1">{{ .Title }} ({{ .Params.title2 }}) Batch Subtitle Indonesia</h2>
      <p class="fs-15">Type {{ .Params.type }} ({{ .Params.episodes }}) - Status {{ .Params.status }} ({{ .Params.year }})</p>
    </div>
    <a href="https://sites.google.com/view/anime-batch-sub-indo/"><img loading="lazy" class="br-100 thumbi of-c d-b" src="{{ .Site.Params.favicon }}" alt="{{ .Title }}"></a>
  </div>
</div>

<div class="o-a max-h">{{- .Content -}}</div>

<div class="bc-1 p-5 d-g gg-5">
  <p class="fs-15">
    {{ delimit .Params.keywords ", " }}, Download {{ .Title }} ({{ .Params.title2 }}) Batch Sub Indo Full {{ .Params.episodes }}, Download Batch Anime {{ .Title }} ({{ .Params.title2 }}) Lengkap.
  </p>
</div>